.dropdown{
    margin-left: 175px;
    margin-top: 30px;
    margin-right: 200px;
    text-align: right;

    box-sizing: border-box;
    text-align: right;

    display: flex;
    justify-content: right;
}

.selector{
    border: 1px rgb(162, 162, 162) solid;
    border-radius: 4px;
    background-color: aliceblue;
    height: 32px;
    width: 300px;
    cursor: pointer;

    position: relative;
}

.arrowPic{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.selector-menu{
    position: absolute;
    background-color: aliceblue;
    width: 300px;
    height: fit-content;
    top: 50px;
    left: 0;
    border-radius: 5px;
    border: 1px rgb(162, 162, 162) solid;
    display: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-hidden{
    display: block;
}

.selector-option{
    text-transform: capitalize;
    text-align: left;
    text-decoration: none;
    padding: 5px;
}

.current-selected-option{

    position: absolute;
    left: 20px;
    bottom: 7px;
    text-transform: capitalize;
}

.selector-option:hover{
    background-color: orange;
    cursor: pointer;
}


